<div class="card" >
    <form [formGroup]="playerForm">
        <div class="form-group hideScrollbar">
            <div class="grid p-fluid">
                <div class="col-6 md:col-6">
                    <label for="username">Username</label>
                    <input type="text" id="username" optionValue="name" formControlName="name" placeholder="enter username"> 
                </div>
                <div class="col-6 md:col-6" >                
                    <button type="button" pButton pRipple label="Add user" [disabled]="!playerForm.valid" (click)="save()" class="p-button-outlined"></button>                                                
                </div>
            </div>
            <div class="grid p-fluid">
                <div class="col-12 md:col-12">
                    <div class="centred-text" *ngIf="playerForm.controls.name.errors.pattern">Please use alpha character for the name</div>
                    <div class="centred-text" *ngIf="playerForm.controls.name.errors.maxlength">Please keep the name to 50 characters or less</div>                              
                </div>                    
            </div>
        </div>
    </form>
</div>
