<div class="card">    
    <p-table [value]="players" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5,10,15,20]">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="photo" width="25px"></th>
                <th pSortableColumn="name"><div class="centred-text">Name <p-sortIcon field="name"></p-sortIcon></div></th>
                <th pSortableColumn="wins"><div class="centred-text">Wins <p-sortIcon field="wins"></p-sortIcon></div></th>
                <th pSortableColumn="losses"><div class="centred-text">Losses <p-sortIcon field="losses"></p-sortIcon></div></th>
                <th pSortableColumn="position"><div class="centred-text">Position<p-sortIcon field="sen"></p-sortIcon></div></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-player>
            <tr>
                <td><div class="centred-text"><img src="{{player.photo}}" height="50" ></div></td>
                <td><div class="centred-text">{{player.name}}</div></td>
                <td><div class="centred-text">{{player.wins}}</div></td>
                <td><div class="centred-text">{{player.losses}}</div></td>
                <td><div class="centred-text">{{player.position}}</div></td>
            </tr>
        </ng-template>
    </p-table>
</div>