<div class="card">
    <!--<div class="flex">
        <div class="flex-initial flex align-items-center justify-content-center  m-2 px-5 py-3 ">
            <p-dropdown [options]="player" [(ngModel)]="selectedPlayer" optionLabel="name"></p-dropdown>
        </div>
        <div class="flex-initial flex align-items-center justify-content-center  m-2 px-5 py-3 ">
            <p-dropdown [options]="player2" [(ngModel)]="selectedPlayer2" optionLabel="name"></p-dropdown>
        </div>
    </div>-->
</div>