<div class="card">    
    <p-table [value]="matches">
        <ng-template pTemplate="header">
            <tr>
                <th ><div class="centred-text">Player 1</div></th>
                <th><div class="centred-text">Player 2</div></th>
                <th><div class="centred-text">Winner</div></th>
                <th><div class="centred-text">Balls left on table</div></th>
                <th><div class="centred-text">Match ending</div></th>                
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-match>
            <tr>
                <td><div class="centred-text">{{match.player1}}</div></td>
                <td><div class="centred-text">{{match.player2}}</div></td>
                <td><div class="centred-text">{{match.winner}}</div></td>
                <td><div class="centred-text">{{match.balls_left}}</div></td>
                <td><div class="centred-text">{{match.matchEnding}}</div></td>
            </tr>
        </ng-template>
    </p-table>
</div>